{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div class="center color-link">
    <div class="center">

        {{ if eq .Params.layout "privacy"}}
            {{ partial "privacy.html" . }}

        {{ else if eq .Params.layout "info_page"}}
            {{ partial "text.html" . }}

        {{ else if eq .Params.layout "img-right" }}
            {{ partial "img-right.html" . }}

        {{ else if eq .Params.layout "little-icons" }}
            {{ partial "little-icons.html" . }}

        {{ else if eq .Params.layout "left-and-right" }}
            {{ partial "left-and-right" . }}

        {{ else if eq .Params.layout "img-left" }}
            {{ partial "img-left.html" . }}

        {{ else if eq .Params.layout "contacts-with-google-form" }}
            {{ partial "contacts-with-google-form.html" . }}

        {{ else if eq .Params.layout "content-center" }}
        <div class="center cf pv5 ph5-m ph4 mw8 mw7-m">
            <div class="tc f3-l f4 fw4 lh-title tl title-text-font" style="color:{{ $.Param "middle_title_color" | default "#181818" }};">
                {{ .Content }}
            </div>
        </div>

        {{ else }}
        {{/* Default layout */}}
        <div class="center cf pv5 ph5-m ph4 mw8 mw7-m">
            <div class="title-text-font nested-copy-line-height lh-copy f4-l f5 ml4-m nested-links {{ $.Param "text_color" | default "#454545" }}">
                {{ .Content }}
            </div>
        </div>
        {{ end }}

    </div>
</div>

{{ if ne .Params.layout "contacts-with-google-form" }}
    {{ if ne .Params.layout "content-center" }}
        {{ if .Site.Params.footerContactButton }}
            {{ partial "contact-us-btn.html" . }}
        {{end}}
    {{ else if eq .Params.layout "content-center" }}
        {{ partial "to-main-page-btn.html" . }}
    {{ end }}
{{ end }}

{{ end }}
