{{ with .Params }}
<div class="section-image-container flex w-100 h-100 dark-blue">
  <div class="section-text-half pa5 pa4-ns ph1-ns">
    <div class="overflow-y-auto w-90 flex flex-column justify-between mw7 pa4 bg-white br-20 cus-shed">
      {{ if .title }}
      <h2 class="tc f2-l f3 fw8 mb3">{{ .title }}</h2>
      {{ end }}
      <p class="f4-5">{{ .text | markdownify }}</p>
      {{ if .button_href }}
      <a href="{{ .button_href }}" class="btn-more">{{ .button_text }}</a>
      {{ end }}
    </div>
  </div>

  {{ if .section_image }}
  <div class="section-image-half" style="background-image: url('{{ .section_image }}');">
    <div class="gradient-overlay-right"></div>
  </div>
  {{ end }}
</div>
{{ end }}
