{{ with .Params }}
<div class="section-image-container main-grey-bg dark-blue">
  {{ if .section_image }}
  <div class="section-image-half" style="background-image: url('{{ .section_image }}'); min-height: 26rem">
    <div class="gradient-overlay-l"></div>
  </div>
  {{ end }}

  <div class="section-text-half pa3 section-text-container">
    <div class="section-text mw7 pa4 pa3-ns">
      {{ if .title }}
      <h2 class="section-title tc f3 f4-ns fw6 mb3">{{ .title }}</h2>
      {{ end }}
      <div class="f3 f4-ns">{{ .text | markdownify }}</div>
      {{ if .button_href }}
      <a href="{{ .button_href }}" class="button-link f5 fw6 pa3 bg-blue white br4 dib center mt3">{{ .button_text }}</a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

<style>
  .section-image-container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .section-image-half {
    width: 50%;
    background-size: cover;
    background-position: center;
    position: relative; /* Ensure the gradient overlay is positioned correctly */
  }

  .gradient-overlay-l {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(196,200,203,0) 60%, rgba(196,200,203,1) 100%);
    pointer-events: none; /* Allows clicks to pass through */
  }

  .section-text-half {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-text {
    background-color: #ffffff; /* White background */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for some depth */
    max-height: 100%;
    overflow-y: auto;
    width: 90%; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-title {
    font-size: 2.25rem; /* Adjust size as needed */
    font-weight: 800;
    margin-bottom: 1rem; /* Space below the title */
    text-align: center;
  }

  .button-link {
    align-self: center; /* Center the button horizontally */
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    text-align: center;
    background-color: var(--main-blue); /* Button background color */
    color: #ffffff; /* Button text color */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .button-link:hover {
    background-color: var(--dark-blue); /* Darken on hover */
  }

  @media (max-width: 768px) {
    .section-image-half{
      display: none;
    }
    .section-text-half {
      width: 100%;
      height: auto;
    }
  }
</style>
