{{ with .Params }}
<div class="text-container mw9 center dark-blue pa5 pa4-ns">
    {{ if .title }}
    <h2 class="mb3 f2 f3-ns lh-copy tc underline">{{ .title }}</h2>
    {{ end }}
    <div class="flex flex-wrap f4-5">
        <div class="w-50 w-100-ns pr4 pr0-ns mb3">
            <p>
                {{ if .column_left }}
                {{ .column_left | markdownify }}
                {{ end }}
            </p>
        </div>
        <div class="w-50 w-100-ns">
            <div>
                {{ if .column_right }}
                {{ .column_right | markdownify }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}

<style>
    .text-container ul {
        margin: 0.5rem 0;
    }
    .text-container p {
        margin: 0 !important;
        padding: 0 !important;
    }
    .text-container h2 {
        margin: 0 0 0.5rem;
    }
</style>