{{ $folder := .Params.form_folder }}
{{ $mySections := slice $folder }}
{{ $form := where .Site.RegularPages "Section" "in" $mySections }}
{{ $form_count := len $form }}

<article class="ma4 mh3-ns mh3-m mw8 mw8-m pa4 center bg-white br-20 cus-shed">
    <div class="db no-underline dark-gray">
        <div class="flex flex-auto flex-column-ns">
            <div class="f4 f5-ns pr0-ns pr4 w-50 w-100-ns center br-m br-l bb-ns">
                {{ with .Params.column_left_title }}
                <h2 class="tc f2 f3-ns fw8 mb3 dark-blue">{{ . | markdownify }}</h2>
                {{ end }}
                {{ with .Params.column_left }}
                <div class="column-content lh-copy f4-5 f5-ns">{{ . | markdownify }}</div>
                {{ end }}
            </div>

            {{ if ge $form_count 1 }}
            <div class="f4 f5-ns pt4-ns pl0-ns pl3 w-100-ns w-50 mw-100 center">
                {{ with .Params.column_right_title }}
                <h2 class="tc f2 f3-ns fw8 mb3 dark-blue">{{ . | markdownify }}</h2>
                {{ end }}

                <script>let submitted=false;</script>
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='{{ .Site.Params.thankYou }}';}"></iframe>
                <form action="{{ .Params.action }}" method="post" target="hidden_iframe" onsubmit="submitted=true">

                    {{ range $form }}
                    <div>
                        {{ if eq .Params.type "textarea" }}
                        <textarea class="form-input" placeholder="{{ .Params.placeholder }}"
                                  name="{{ .Params.name }}" maxlength="{{ .Params.maxlength }}"
                                  {{ if .Params.required }} required {{ end }} style="height: 185px; resize: none;"></textarea>
                        {{ else if eq .Params.type "select" }}
                        <select class="form-input" name="{{ .Params.name }}" {{ if .Params.required }} required {{ end }}>
                            <option class="" value="">{{ .Params.placeholder }}</option>
                            {{ $options_value := .Params.options_value }}
                            {{ range $options_value }}
                            <option class="" value="{{ . }}">{{ . }}</option>
                            {{ end }}
                        </select>
                        {{ else if eq .Params.type "datetime-local" }}
                        <input  class="form-input input-text-font {{ .Params.required }}"
                                type="datetime-local"
                                value="{{ now.Format "2006-01-02T15:04" }}"
                                min="{{ now.Format "2006-01-02T15:04" }}"
                                name="{{ .Params.name }}" maxlength="{{ .Params.maxlength }}" {{ if .Params.pattern }} pattern="{{ .Params.pattern }}" {{ end }}
                                {{ if .Params.hidden }} style="display:none" {{ end }} {{ if .Params.required }} required {{ end }}>
                        {{ else }}
                        {{/* Default type - input */}}
                        <input class="form-input input-text-font {{ .Params.required }}" type="{{ .Params.input_type }}" placeholder="{{ .Params.placeholder }}"
                               name="{{ .Params.name }}" maxlength="{{ .Params.maxlength }}" {{ if .Params.pattern }} pattern="{{ .Params.pattern }}" {{ end }}
                               {{ if .Params.hidden }} style="display:none" {{ end }} {{ if .Params.required }} required {{ end }}>
                        {{ end }}
                    </div>

                    {{ end }}
                    <div class="tc f4-5-l">
                        <button class="send-btn" type="submit">{{ .Params.submit_button }}</button>
                    </div>
                </form>
            </div>
            {{ end }}
        </div>
    </div>
</article>
