{{ if .IsTranslated }}
    {{ if .Site.Params.mobileMenuLight }}
        <ul class="br-10 ba dark-blue language-block {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
            {{ range .Translations }}
            <li class="list tc f5 f4-ns fw4 dib pl3 {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
                <a class="nav-font no-underline dark-blue dark-gray-ns language_icon" href="{{ .RelPermalink }}">{{ .Lang }}</a>
            </li>
            {{ end}}
        </ul>
    {{ else }}
        <ul class="br-10 ba dark-blue language-block {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
            {{ range .Translations }}
            <li class="list tc f5 f4-ns fw4 dib pl3 {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
                <a class="nav-font no-underline dark-blue language_icon" href="{{ .RelPermalink }}">{{ .Lang }}</a>
            </li>
            {{ end}}
        </ul>
    {{ end }}
{{ end }}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var lang = document.documentElement.lang;
        localStorage.setItem('lang', lang);
    });
</script>
