<div class="center cf ph4 mw8-5">
    <div class=" title-text-font pv5 pv4-m pv3-ns lh-copy f4-5-l f5 nested-links {{ $.Param "text_color" | default "#181818" }}">
    {{ .Content }}
    </div>

{{ $folder := .Params.sections_folder }}
{{ $mySections := slice $folder }}
{{ $sections := where .Site.RegularPages "Section" "in" $mySections }}
{{ $sections_count := len $sections }}

{{ if ge $sections_count 1 }}
    <div class="w-100 mw8-5 center">
        <div class="w-100 center">
            {{ range $sections }}
            <div class="relative w-100 bt b--black-10">
                {{ .Render "section-image-left" }}
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}
</div>