<div class="center cf pt5 pt3-ns ph3 ph5-l mw8-5">
    <div class="title-text-font f4 f4-5-m f4-5-ns pb5 ph3 pb3-ns tc lh-copy" style="color:{{ $.Param "text_color" | default "#1c1c1c" }};">
        {{ .Content }}
    </div>

{{ $folder := .Params.sections_folder }}
{{ $mySections := slice $folder }}
{{ $sections := where .Site.RegularPages "Section" "in" $mySections }}
{{ $sections_count := len $sections }}

{{ if ge $sections_count 1 }}
<div class="w-100 mw8-5 center">
    <div class="w-100 center bb b--black-10">
    {{ range $sections }}
        <div class="relative w-100 bt b--black-10">
            {{ .Render "section-image-right" }}
        </div>
    {{ end }}
    </div>
</div>
{{ end }}

</div>