{{ $folder := .Params.sections_folder }}
{{ $mySections := slice $folder }}
{{ $sections := where .Site.RegularPages "Section" "in" $mySections }}
{{ $sections_count := len $sections }}

{{ if ge $sections_count 1 }}
<div>
    {{ range $sections }}
    {{ if .Params.img_left_text_right }}
    <div>
        {{ .Render "section-image-left" }}
    </div>

    {{ else if .Params.text_left_img_right }}
    <div>
        {{ .Render "section-image-right" }}
    </div>

    {{ else if .Params.text_left_text_right }}
    <div>
        {{ .Render "text-left-right" }}
    </div>

    {{ else if .Params.content_center }}
    <div>
        <div class="center cf pv5 pv4-ns ph5-m ph4 mw8 mw7-m">
            <h2 class="section-title tc f1 f2-ns fw8 mb3 dark-blue">{{ .Title }}</h2>
            {{ .Content }}
        </div>
    </div>

    {{ else }}
    {{/* Default layout */}}
    <div class="flex justify-center">
        <div class="tc pv5 pv4-ns ph5-m ph4 fw8 f3 f4-ns normal-blue">
            {{ .Content }}
        </div>
    </div>

    {{ end }}
    {{ end }}
</div>
{{ end }}